<h1>List</h1>

<md-list>
	<md-list-item ng-repeat="c in contacts">
		<p>{{c.name}}</p>
		<p>{{c.phone}}</p>
		<p>{{c.email}}</p>
		<md-button class="md-primary" ng-click="edit(c.id)">Edit</md-button>
		<md-button class="md-accent" ng-click="delete(c.id)">Delete</md-button>
	</md-list-item>
</md-list>

<md-divider></md-divider>

<md-content layout-padding>
	<code>
		<pre>{{contacts | json}}</pre>
	</code>
</md-content>
