<h1>Contact</h1>

<input type="hidden" ng-model="newcontact.id" />

<md-input-container>
	<label>Name</label>
	<input type="text" name="name" ng-model="newcontact.name" ng-required="true" title="name"/>
</md-input-container>
<md-input-container>
	<label>Mobile</label>
	<input type="text" name="mobile" ng-model="newcontact.mobile" title="mobile"/>
</md-input-container>
<md-input-container>
	<label>Email</label>
	<input type="text" name="email" ng-model="newcontact.email" title=""/>
</md-input-container>

<div layout="row" flex>
	<div flex></div>
	<md-button class="md-raised md-primary" ng-click="saveContact()">Save</md-button>
</div>

<md-divider></md-divider>

<md-content layout-padding>
	<code><pre>{{newcontact | json}}</pre></code>
</md-content>
